* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/pexels-francesco-ungaro-281260.jpg');
    background-size: cover;   
}

.container{
    height: auto;
    width: 30%;
    margin: 0 auto;    
    background-color: aliceblue;
    align-items: center;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;

}





.input[type="checkbox"] {
    position:absolute; /* Also removes element from document flow */
    left: 0%;/* Place at the left of its containing element */
}


.ul {
    position: relative; /*
       This magic line seems to do nothing, but
       for `absolute`ly positioned elements,
       the containing element is the nearest parent
       whose position is not `static`.
 
       The left of the <li> doesn't work (see purple border)
       so naturally the <ol> gets the position: relative;
       since it contains some space before the li::marker
    */
    
    padding-left: 3em; /* Hardcoded space */
    border-left: 2px;
}
 
 
 li {
    border: 2px;
 }