* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/pexels-francesco-ungaro-281260.jpg');
    background-size: cover;   
}

.container{
    height: auto;
    width: 30%;
    margin: 0 auto;    
    background-color: aliceblue;
    align-items: center;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;

}


.rows{
    display: flex;
    flex-direction: column;
}


.ul {
    position: relative; 
    padding-left: 3em;
    border-left: 2px;
}
 
 
 li {
    border: 2px;
 }